<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="flex h-screen w-full justify-center items-center bg-zinc-700 text-zinc-300 font-sans">
       <div class="border border-bg-zinc-500 py-4 px-8 rounded block text-center w-120">
         <h2 class="text-[22px] mb-4">Login</h2>
         <form action="/login" method="post">
            <input type="email" placeholder="Email" name="email" class="p-2 w-full border rounded border-2 outline-0 mb-5" required />
            <input type="password" placeholder="Password" name="password" class="p-2 w-full border rounded border-2 outline-0 mb-5" required />
            <a href="/createUser" class="mb-3 block text-blue-400">Don't have an account ? Registation here!</a>
            <button type="submit" class="w-full bg-blue-600 p-2 rounded bg-blue cursor-pointer">Login</button>
        </form>
       </div>
    </div>
</body>

</html>